<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>DisasterTweets</title>
  </head>
  <body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="card" style="width : 100%; height : 100%; margin-top : 50px">
                <div class="card-header" style="text-align: center">
                    <h1>Enter Store Number and Date</h1>
                </div>
                <div class="form-body" style="margin-top: 20px;">
                    <form method="post" accept-charset="utf-8" onsubmit="send_data(); return false;">
                            <div class="row justify-content-around">
                                <div class="col-md-2 form-group text-center" style="text-align:center">
                                </div>
                                <div class="col-md-2 form-group text-center" style="text-align:center">
                                    <input type="number" class="form-control" id="storeNumber" name="storeNumber" placeholder="Store Number" min="1" max="54">
                                </div>
                                <div class="col-md-2 form-group text-center" style="text-align:center">
                                    <input type="number" class="form-control" id="day" name="day" placeholder="Day" min="1" max="31">
                                </div>
                                <div class="col-md-2 form-group text-center" style="text-align:center">
                                    <input type="number" class="form-control" id="month" name="month" placeholder="Month" min="1" max="12">
                                </div>
                                <div class="col-md-2 form-group text-center" style="text-align:center">
                                    <input type="number" class="form-control" id="year" name="year" placeholder="Year" min="1900" max="2099">
                                </div>
                                <div class="col-md-2 form-group text-center" style="text-align:center">
                                </div>
                                <div class="col-md-12 text-center" style="text-align:center">
                                    <button class="btn btn-primary" onclick="send_data()">Check</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <div class="col-md-12 text-center" style="text-align:center">
                        <h3><span id="prediction"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function send_data()
        {
            var storeNumber = document.getElementById('storeNumber').value;
            var day = document.getElementById('day').value;
            var month = document.getElementById('month').value;
            var year = document.getElementById('year').value;
            var fd = new FormData();

            // Add store number, day, month, and year to the FormData
            fd.append('storeNumber', storeNumber);
            fd.append('day', day);
            fd.append('month', month);
            fd.append('year', year);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/predict', true);
            document.getElementById("prediction").innerHTML = "Wait Predicting Sales !"
            xhr.onreadystatechange = function() {
                if (xhr.readyState == XMLHttpRequest.DONE){
                    document.getElementById('prediction').innerHTML = "The sales for the store entered is " + xhr.responseText;
                }
            };
            xhr.onload = function(){};
            xhr.send(fd);
        }
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
